//flex centering mixin
@mixin flex-centering($flex-direction: false) {
  display: flex;
  align-items: center;
  justify-content: center;
  @if ($flex-direction) {
    flex-direction: $flex-direction;
  }
}

//flex
@mixin flex(
  $justify-content: false,
  $align-items: false,
  $wrap: false,
  $flex-direction: false
) {
  display: flex;

  @if ($justify-content) {
    justify-content: $justify-content;
  }

  @if ($align-items) {
    align-items: $align-items;
  }

  @if ($flex-direction) {
    flex-direction: $flex-direction;
  }

  @if ($wrap) {
    flex-wrap: $wrap;
  }
}

@mixin footer-flex-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@mixin bg-gradient($gradient) {
  background: linear-gradient($gradient);
}
