@font-face {
  font-family: vazir;
  src: font("fonts/eot/Vazir-Thin.eot") format(eot);
  src: font("fonts/ttf/Vazir-Thin.ttf") format(ttf);
  src: font("fonts/woff/Vazir-Thin.woff") format(woff);
  src: font("fonts/woff2/Vazir-Thin.woff2") format(woff2);
}
