/*  flex helper start   */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-content-cneter {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/*  flex helper end   */

/* padding and margin helper start */

.m-t10 {
  margin-top: 1rem;
}

.m-b10 {
  margin-bottom: 1rem;
}

.m-t20 {
  margin-top: 2rem;
}

.m-b20 {
  margin-bottom: 2rem;
}

.m-t50 {
  margin-top: 5rem ;
}

.m-b50 {
  margin-bottom: 5rem ;
}

.p-t10 {
  padding-top: 1rem;
}

.p-b10 {
  padding-bottom: 1rem;
}

/* padding and margin helper end */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* container responsive start */

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* container responsive end */
